@model EcommerceWebApp.Models.ViewModels.OrderDetailsCart
@using Microsoft.Extensions.Options

@inject IOptions<EcommerceWebApp.Utility.StripeSetings> Stripe

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    @if (Model.listCart.Count > 0)
    {
        <br />
        <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i>&nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Delivery Date Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.OrderHeader.PickupName" id="txtName" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.OrderHeader.Phonenumber" id="txtPhoneNumber" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Date</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.OrderHeader.DeliveryDate" value="" id="datepicker" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Time</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.OrderHeader.DeliveryTime" value="" id="timepicker" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Additional Instructions</label>
                                    </div>
                                    <div class="col-9">
                                        <textarea asp-for="@Model.OrderHeader.Comment" style="height:100px;" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Delivery Date Details:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @{ var total = 0.0;}
                                    @foreach (var details in Model.listCart)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">@details.MenuItem.Name</h6>
                                                <small class="text-muted">Quantity:@details.Count</small>
                                            </div>
                                            <span class="text-muted">$@(details.MenuItem.Price * details.Count)</span>
                                            @{ total += (details.MenuItem.Price * details.Count);}
                                        </li>

                                    }
                                    @if (Model.OrderHeader.CouponCode != null)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div class="text-success">
                                                <h6 class="my-0">Promo Code</h6>
                                                <small class="text-muted">@Model.OrderHeader.CouponCode</small>
                                            </div>
                                            <span class="text-success">$@(total - Model.OrderHeader.OrderTotal)</span>
                                        </li>
                                    }
                                    <li class="list-group-item d-flex justify-content-between bg-light">

                                        <small class="text-info">Total (USD)</small>

                                        <strong class="text-info">$@(Model.OrderHeader.OrderTotal)</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-4 offset-md-8">

                            @{
                                var OrderTotalForStrip = Model.OrderHeader.OrderTotal * 100;
                            }
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-keyboard="@Stripe.Value"
                                    data-amount="@OrderTotalForStrip"
                                    data-name="Ultra Store"
                                    data-label="Best Ecommerce store"
                                    data-locale="auto"
                                    data-allow-remember-me="false"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png">

                            </script>
                            <script>
                                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                            </script>
                          
                            <button class="btn btn-success form-control" type="submit" id="btnPlaceHolder" onclick="return validateInput()" value="Place Order">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        <div class="backgroundWhiteBorder"> No items added to the shopping cart...</div>
    }
</form>

@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://js.stripe.com/v3"></script>
    <script>
        $(function () {

            var minDt = 0;
            if (getTimeFromCurrentDate >= 06) {
                minDt = 1;
            }
            $("#datepicker").datepicker({ minDate: minDt, maxDate: "+1W" });
            $('#timepicker').timepicker({
                step: '30',
                minTime: '8:00am',
                maxTime: '5:00pm',
                scrollbar: true
            });
        });

        function setPickUpDate() {

            var selectedDate = document.getElementById("datepicker").value;
            var dt = new Date(selectedDate);
            var today = new Date();

            dt.setHours(0, 0, 0, 0);
            if (dt > today) {
                selectedTime = '11:00am';
            }
            else {
                selectedTime = getTimeFromCurrentDate();
            }

            $('#timepicker').timepicker('option', 'minTime', selectedTime);
        }

        function getTimeFromCurrentDate() {
            var curDate = new Date();

            minTime = "";
            if (curDate.getHours() < 7) {
                minTime = '8:00am';
            } else {
                if (curDate.getMinutes() < 30) {
                    minTime = (curDate.getHours() + 1).toString() + ':30am'
                }
                else {
                    minTime = (curDate.getHours() + 2).toString() + ':00am'
                }

            }
            return minTime;
        }
        $('#datepicker').change(function () {
            setPickUpDate();
        });
        function validateInput() {
            var time = document.getElementById("timepicker").value;
            var date = document.getElementById("datepicker").value;
            var name = document.getElementById("txtName").value;
            var phone = document.getElementById("txtPhoneNumber").value;

            if (time.toString() == '') {
                alert("Please select pickup time");
                return false;
            }
            else {
                if (date.toString() == '') {
                    alert("Please select pickup Date");
                    return false;
                }
                else {
                    if (name.toString() == '') {
                        alert("Please select pickup name");
                        return false;
                    }
                    else {
                        if (phone.toString() == '') {
                            alert("Please select pickup phone");
                            return false;
                        }
                    }
                }
            }
        }


    </script>
    <script>
        var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');

        var checkoutButton = document.querySelector('#checkout-button');
        checkoutButton.addEventListener('click', function () {
            stripe.redirectToCheckout({
                lineItems: [{
                    price: '{PRICE_ID}',
                    quantity: 1
                }],
                mode: 'payment',
                successUrl: 'https://www.example.com/success',
                cancelUrl: 'https://www.example.com/cancel'
            });
        });
    </script>

}
